@charset "UTF-8";
/* Formateo de documentos en general */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

h1 {
  font-family: "titulos_grandes"; }

/* Formato a general */
a {
  text-decoration: none; }

/* Fuente local */
@font-face {
  font-family: "titulos_grandes";
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf); }

/* Fuente Web */
/* Para usar, copiar: font-family: 'Lato', sans-serif; */
#quienes_somos .seccion_1 .titulo_h1_imagen, #trabajos_realizados .div_0 .titulo_h1_pagina, #contacto .section-1 .section-1__div1 .titulo_h1_pagina {
  font-family: "titulos_grandes";
  font-size: 3rem; }

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both; }

/* Formato General a todos los headers */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* width: 100vw;  */
  height: 15vh; }
  .header div img {
    width: 20vh;
    height: auto; }
  .header nav {
    text-align: right; }
    .header nav ul {
      display: flex;
      justify-content: flex-end; }
      .header nav ul li {
        display: flex;
        list-style: none;
        padding: 5px 15px;
        margin: 4px 4px;
        align-items: center; }
        .header nav ul li a {
          text-decoration: none;
          color: #2B2D42;
          transition: 0.2s; }
          .header nav ul li a:hover {
            color: #22AAA1; }
      .header nav ul .li--active {
        background-color: #2B2D42;
        padding: 15px 15px;
        border-radius: 5px; }
        .header nav ul .li--active a {
          color: #FFFFFF; }

.navbar {
  display: none; }

/* Formato al FOOTER */
.footer {
  display: flex;
  height: 13vh;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-around; }
  .footer .img-sm {
    display: none; }
  .footer img {
    display: inline-block;
    width: 15vh;
    height: auto; }
  .footer a {
    display: inline-block; }
  .footer p {
    display: inline-block; }

/* Formato al Index */
#index__main {
  display: flex;
  flex-direction: column;
  width: 100vw; }
  #index__main .div_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    position: relative; }
    #index__main .div_background::before {
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../resources/bg_cyq_ing_civil.avif");
      background-size: cover;
      opacity: 0.35;
      z-index: -1;
      /* Coloca el pseudo-elemento detrás del contenido */ }
    #index__main .div_background .div__h1 {
      max-width: 65vw;
      font-family: "titulos_grandes";
      font-size: 5rem;
      color: #2B2D42;
      margin: 20px;
      padding: 10px 40px;
      border-radius: 15px;
      transition: transform 2s; }
      #index__main .div_background .div__h1:hover {
        transform: scale(1.4); }
    #index__main .div_background .div__p {
      font-size: 2.5rem;
      margin: 20px;
      color: #2B2D42;
      padding: 0 15px;
      width: max-content;
      max-width: 90vw;
      border-radius: 10px;
      text-align: center;
      transition: 0.5s; }
      #index__main .div_background .div__p:hover {
        transform: scale(1.05); }

/* Formato a Hoja Qué hacemos */
#que_hacemos {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  align-items: center; }
  #que_hacemos .titulo {
    margin: 20px; }
  #que_hacemos .section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas: "seccion__1_1 seccion__1_2 seccion__1_3" "seccion__2_1 seccion__2_2 seccion__2_3";
    align-items: start;
    justify-items: center;
    max-width: 100%;
    margin: auto; }
    #que_hacemos .section .seccion__1_1 {
      grid-area: seccion__1_1; }
    #que_hacemos .section .seccion__1_2 {
      grid-area: seccion__1_2; }
    #que_hacemos .section .seccion__1_3 {
      grid-area: seccion__1_3; }
    #que_hacemos .section .seccion__2_1 {
      grid-area: seccion__2_1; }
    #que_hacemos .section .seccion__2_2 {
      grid-area: seccion__2_2; }
    #que_hacemos .section .seccion__2_3 {
      grid-area: seccion__2_3; }
    #que_hacemos .section div {
      display: flex;
      flex-direction: column;
      margin: 10px 10px;
      padding: 10px;
      border-radius: 10px;
      height: 100%;
      overflow: hidden;
      object-fit: cover;
      align-items: center;
      transition: background-color 0.15s; }
      #que_hacemos .section div .contenedor_img {
        width: 24vw;
        /* Ancho del div padre */
        height: 16vh;
        /* Alto del div padre */
        overflow: hidden;
        /* Ocultar partes de la imagen que se desborden */
        position: relative;
        /* Para posicionar la imagen de fondo */
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center; }
        #que_hacemos .section div .contenedor_img .section__img, #que_hacemos .section div .contenedor_img .section__img_xl {
          background-size: cover;
          /* Cubrir completamente el div padre */
          background-position: center;
          /* Centrar la imagen */
          width: 110%;
          /* Ajustar el ancho de la imagen al 100% del div padre */
          height: auto;
          /* Ajustar automáticamente la altura según la relación de aspecto */
          border-radius: 10px; }
        #que_hacemos .section div .contenedor_img .section__img_xl {
          width: 130%;
          height: auto; }
      #que_hacemos .section div .titulo_imagen {
        display: inline-block;
        font-family: "titulos_grandes";
        font-weight: 700;
        font-size: large;
        padding: 5px 0;
        text-align: center; }
      #que_hacemos .section div .imagen_descripcion {
        width: 20vw; }
      #que_hacemos .section div:hover {
        background-color: #2B2D42; }
        #que_hacemos .section div:hover .titulo_imagen {
          color: #22AAA1; }
        #que_hacemos .section div:hover .imagen_descripcion {
          color: #FFFFFF; }

/* Formato a página Quiénes Somos */
#quienes_somos {
  margin: auto; }
  #quienes_somos .seccion_1 {
    display: block;
    text-align: center; }
  #quienes_somos .seccion_2 div .div__img {
    margin: 0 0 2rem 0;
    padding: 1rem 0 0 0;
    border-radius: 15px; }
    #quienes_somos .seccion_2 div .div__img img {
      /* display: inline-block; */
      max-width: 25vw;
      width: 25vw;
      border-radius: 15px; }
  #quienes_somos .seccion_2 div .div__titulo_imagen .titulo_imagen {
    font-family: "titulos_grandes";
    font-size: 30px;
    text-align: center; }
  #quienes_somos .seccion_2 div .div__texto p {
    text-align: center;
    font-size: 20px; }

/* Formato a hoja Trabajos Realizados */
#trabajos_realizados {
  display: flex;
  flex-direction: column; }
  #trabajos_realizados div img {
    display: block;
    width: 75vh;
    height: auto;
    border-radius: 15px; }
  #trabajos_realizados div .titulo_imagen {
    font-family: "titulos_grandes";
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    display: inline-block;
    width: 75vh;
    height: auto; }
  #trabajos_realizados .div_0 {
    align-items: center;
    margin: 20px 0; }
    #trabajos_realizados .div_0 .titulo_h1_pagina {
      text-align: center; }
  #trabajos_realizados .div_1 {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    text-align: left;
    position: relative;
    justify-content: space-around; }
    #trabajos_realizados .div_1 div {
      margin: 20px;
      padding: 10px 15px;
      height: fit-content; }
    #trabajos_realizados .div_1 div:hover {
      color: #22AAA1;
      background-color: #2B2D42;
      border-radius: 15px; }
    #trabajos_realizados .div_1 p:not(.titulo_imagen) {
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      width: 75vh;
      padding: 10px 0; }

/* Formato Hoja Contacto */
#contacto .section-1 {
  background-color: #2B2D42; }
  #contacto .section-1 .section-1__form {
    max-width: 75%; }
  #contacto .section-1 div {
    max-width: 50%;
    background-color: #22aaa1; }
    #contacto .section-1 div div label {
      display: inline-block;
      margin: 0px 20px; }

#contacto .como_llegar {
  margin: auto;
  justify-content: space-between; }
  #contacto .como_llegar p {
    font-family: "titulos_grandes";
    font-size: 20px; }
  #contacto .como_llegar iframe {
    width: 50vw;
    height: 40vh;
    border-radius: 10px; }

@media (max-width: 1430px) {
  /* … */ }

@media (max-width: 992px) {
  .header {
    display: none;
    justify-content: space-between; }
  .navbar {
    display: block;
    padding: 25px 0; }
  .navbar .navbar-brand {
    margin: 0 30px; }
  .header .navbar-brand {
    font-family: 'Lato', sans-serif; }
  .header img {
    width: 15vh;
    height: auto;
    margin: 0px 18px; }
  .header .navbar div div {
    align-items: center; }
  .header .navbar div div .columna_1 div ul li {
    height: 2vh;
    width: 100%;
    padding: 0;
    display: block; }
  .header .navbar div div .columna_2 {
    max-width: 60px; }
  .header .navbar div div div ul li a {
    width: 100%;
    padding: 0; }
  #index__main .div {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    width: 100%; }
    #index__main .div .div__h1 {
      max-width: 80vh;
      width: max-content;
      font-family: "titulos_grandes";
      font-size: 8vw;
      color: #2B2D42;
      margin: 20px;
      padding: 10px 40px;
      background-color: #FFFFFF;
      border-radius: 15px;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #index__main .div .div__p {
      font-size: 4vw;
      margin: 20px;
      color: #2B2D42;
      padding: 0 15px;
      width: max-content;
      max-width: 80vw;
      background-color: #ffffff;
      border-radius: 10px;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%); }
    #index__main .div .div__img {
      max-height: 100vh;
      height: 90vh;
      width: auto;
      object-fit: cover;
      object-position: 50% 15%;
      opacity: .45; }
  #que_hacemos .titulo {
    margin: 20px; }
  #que_hacemos .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "seccion__1_1" "seccion__1_2" "seccion__1_3" "seccion__2_1" "seccion__2_2" "seccion__2_3";
    align-items: start;
    justify-items: center;
    max-width: 100%;
    margin: auto;
    width: 100vw; }
    #que_hacemos .section div {
      display: flex;
      flex-direction: column;
      margin: 10px 10px;
      width: 100%;
      align-items: center;
      padding-top: 15px; }
      #que_hacemos .section div .section__img, #que_hacemos .section div .contenedor_img .section__img_xl {
        display: block;
        width: 70vw;
        height: auto;
        border-radius: 10px; }
      #que_hacemos .section div .titulo_imagen {
        display: inline-block;
        font-family: "titulos_grandes";
        font-weight: 700;
        font-size: 30px;
        padding: 5px 0;
        width: 95%;
        text-align: center; }
      #que_hacemos .section div .imagen_descripcion {
        width: 75vw;
        text-align: center;
        font-size: 25px; }
  #quienes_somos .seccion_1 {
    padding: 25px 0 0 0; }
  #quienes_somos .seccion_2 div .div__img img {
    max-width: 50vw;
    width: 50vw; }
  #trabajos_realizados .div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    justify-content: space-around; }
  #trabajos_realizados .div_1 div {
    margin: 0;
    padding: 10px 0x;
    height: fit-content; }
  #trabajos_realizados div img {
    display: block;
    width: 75vw;
    height: auto;
    border-radius: 15px; }
  #trabajos_realizados .div_1 p:not(.titulo_imagen) {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 75vw;
    padding: 10px 0; }
  #trabajos_realizados div .titulo_imagen {
    font-family: "titulos_grandes";
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    display: inline-block;
    width: 75vw;
    height: auto; }
  /* CONTACTO */
  #contacto .section-1 {
    background-color: #2B2D42; }
  #contacto .section-1__form {
    width: 100vw;
    max-width: 100%;
    margin: 0; }
  #contacto .section-1 div {
    max-width: 100%;
    margin: 0;
    background-color: #22aaa1; }
  #contacto .como_llegar p {
    font-family: "titulos_grandes";
    font-size: 20px; }
  #contacto .como_llegar iframe {
    width: 50vw;
    height: 30vh;
    border-radius: 10px; }
  .footer {
    display: flex;
    max-width: 100vw;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between; }
  .footer .img-lg {
    display: none; }
  .footer .img-sm {
    display: block;
    height: 7vh;
    width: auto;
    margin: 5px 0; }
  .footer p {
    font-style: italic;
    margin: 0;
    font-size: 14px;
    margin: 3px 0; }
  .footer a {
    font-weight: 200;
    color: var(--color-tres);
    font-size: 16px;
    margin: 3px 0 5px 0; } }

@media only screen and (max-width: 576px) {
  .header .navbar-brand {
    display: none; }
  #index__main .div {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    width: 100vh; }
    #index__main .div .div__img {
      max-height: 100vh;
      height: 90vh;
      width: auto;
      object-fit: cover;
      object-position: 50% 15%;
      opacity: .45; }
    #index__main .div .div__h1 {
      max-width: 75vh;
      width: max-content;
      font-family: "titulos_grandes";
      font-size: 13vw;
      color: #2B2D42;
      margin: 20px;
      padding: 10px 40px;
      background-color: #FFFFFF;
      border-radius: 15px;
      position: absolute;
      top: 20%;
      left: 45%;
      transform: translate(-50%, -50%); }
    #index__main .div .div__p {
      font-size: 7vw;
      margin: 20px;
      color: #2B2D42;
      padding: 0 15px;
      width: max-content;
      max-width: 80vw;
      background-color: #ffffff;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 45%;
      transform: translate(-50%, -50%); }
  #que_hacemos .section div {
    padding-top: 15px; }
    #que_hacemos .section div .imagen_descripcion {
      width: 85vw;
      font-size: 20px; }
    #que_hacemos .section div .titulo_imagen {
      display: inline-block;
      font-family: "titulos_grandes";
      font-weight: 700;
      font-size: 25px;
      padding: 5px 0; }
  #quienes_somos .seccion_1 {
    padding: 25px 0 0 0; }
  #quienes_somos .seccion_2 div .div__img img {
    max-width: 70vw;
    width: 70vw; }
  #contacto section {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
  #contacto .section_1__div1 {
    width: 90vw; }
  #contacto h1 {
    font-size: 30px;
    padding: 15px 0; }
  #contacto section form {
    max-width: 100vw; }
  #contacto section section {
    width: 100vw;
    max-width: 100vw; }
  #contacto section section div {
    width: 70vw; }
  #contacto section section div iframe {
    width: 70vw; }
  #contacto div {
    width: 65vw;
    margin: auto;
    max-width: 100vw; } }
