@charset "UTF-8";
/* Fuente local */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");
@font-face {
  font-family: "titulos_grandes";
  src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf); }

/* Fuente Web */
/* Para usar, copiar: font-family: 'Lato', sans-serif; */
/* Formateo de documentos en general */
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

:root {
  --color-uno: #FFFFFF;
  --color-dos: #2B2D42;
  --color-tres: #22AAA1;
  --color-cuatro: #B86F52;
  --color-cinco: #F78764; }

/* Formato General a todos los headers */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* width: 100vw;  */
  height: 15vh; }

.header img {
  width: 20vh;
  height: auto; }

.header nav {
  text-align: right; }

/* Se oculta navbar de bootstrap en versión de escritorioo */
.header .navbar {
  display: none; }

.header ul {
  display: flex;
  justify-content: flex-end; }

.header a {
  text-decoration: none;
  color: #2B2D42; }

.header a:hover {
  color: #22AAA1; }

.header a:visited {
  color: #2B2D42; }

.header li {
  display: flex;
  list-style: none;
  padding: 5px 15px;
  margin: 4px 4px;
  align-items: center; }

.header .li--active {
  background-color: #2B2D42;
  padding: 15px 15px;
  border-radius: 5px; }

.header .li--active a {
  color: #FFFFFF; }

.navbar {
  display: none; }

/* Formato al FOOTER */
.footer {
  display: flex;
  height: 13vh;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-around; }

.footer .img-sm {
  display: none; }

.footer img {
  display: inline-block;
  width: 15vh;
  height: auto; }

.footer a {
  display: inline-block; }

.footer p {
  display: inline-block; }

/* Formato h1 general */
h1:hover {
  color: #916c80; }

h1 {
  font-family: "titulos_grandes"; }

/* Formato a general */
a {
  text-decoration: none; }

/* Formato al Index */
#index__main {
  display: flex;
  flex-direction: column;
  width: 100vw; }

#index__main .div {
  position: relative;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 100vw; }

#index__main .div__img {
  max-width: 100%;
  width: 100%;
  height: auto;
  opacity: .45; }

#index_main .div__div1 {
  background-color: #22aaa1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-family: 'Lato', sans-serif; }

#index__main .div__h1 {
  font-family: "titulos_grandes";
  font-size: 5vw;
  color: #2B2D42;
  margin: 20px;
  padding: 10px 40px;
  background-color: #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); }

#index__main .div__h1:hover {
  color: #22AAA1; }

#index__main .div__p {
  font-size: 2vw;
  margin: 20px;
  color: #2B2D42;
  padding: 0 15px;
  width: max-content;
  max-width: 80vw;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Formato a Hoja Qué hacemos */
#que_hacemos {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  align-items: center; }

#que_hacemos .section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas: "seccion__1_1 seccion__1_2 seccion__1_3" "seccion__2_1 seccion__2_2 seccion__2_3";
  align-items: start;
  justify-items: center;
  max-width: 100%;
  margin: auto; }

.seccion__1_1 {
  grid-area: seccion__1_1; }

.seccion__1_2 {
  grid-area: seccion__1_2; }

.seccion__1_3 {
  grid-area: seccion__1_3; }

.seccion__2_1 {
  grid-area: seccion__2_1; }

.seccion__2_2 {
  grid-area: seccion__2_2; }

.seccion__2_3 {
  grid-area: seccion__2_3; }

#que_hacemos .section__img {
  display: block;
  width: 20vw;
  height: auto;
  border-radius: 10px; }

#que_hacemos section div {
  display: flex;
  flex-direction: column;
  margin: 10px 10px; }

#que_hacemos .section div:hover {
  color: #22AAA1; }

#que_hacemos section .titulo_imagen {
  display: inline-block;
  font-family: "titulos_grandes";
  font-weight: 700;
  font-size: large;
  padding: 5px 0; }

/* #que_hacemos .section p:not(.titulo_imagen) { */
#que_hacemos .section p {
  width: 20vw; }

#que_hacemos .titulo {
  margin: 20px; }

/* Formato a página Quiénes Somos */
#quienes_somos {
  margin: auto; }

#quienes_somos h1 {
  font-family: "titulos_grandes"; }

#quienes_somos .seccion_1 {
  display: block;
  text-align: center; }

#quienes_somos .seccion_2 div img {
  /* display: inline-block; */
  max-width: 25vw;
  width: 25vw;
  border-radius: 15px; }

#quienes_somos .seccion_2 .titulo_imagen {
  font-family: "titulos_grandes";
  font-size: 30px;
  text-align: center; }

#quienes_somos .seccion_2 p {
  text-align: center;
  font-size: 20px; }

/* Formato a hoja Trabajos Realizados */
#trabajos_realizados {
  display: flex;
  flex-direction: column; }

#trabajos_realizados .div_0 {
  align-items: center;
  text-align: center;
  margin: 20px 0; }

#trabajos_realizados .div_1 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  text-align: left;
  position: relative;
  justify-content: space-around; }

#trabajos_realizados .div_1 div {
  margin: 20px;
  padding: 10px 15px;
  height: fit-content; }

#trabajos_realizados .div_1 div:hover {
  color: #22AAA1;
  background-color: #2B2D42; }

#trabajos_realizados div img {
  display: block;
  width: 75vh;
  height: auto;
  border-radius: 15px; }

#trabajos_realizados .div_1 p:not(.titulo_imagen) {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  width: 75vh;
  padding: 10px 0; }

#trabajos_realizados div .titulo_imagen {
  font-family: "titulos_grandes";
  margin: 10px 0px 10px 0px;
  font-size: 25px;
  display: inline-block;
  width: 75vh;
  height: auto; }

/* Formato Hoja Contacto */
#contacto div {
  display: block;
  margin: 20px; }

#contacto .section-1 {
  background-color: #2B2D42; }

#contacto .section-1__form {
  max-width: 75%; }

#contacto .section-1 div {
  max-width: 50%;
  background-color: #22aaa1; }

#contacto .section_1__div2 div {
  margin: 0 0 0 40px; }

#contacto div label {
  display: inline-block;
  margin: 0px 20px; }

#contacto .como_llegar {
  margin: auto;
  justify-content: space-between; }

#contacto .como_llegar p {
  font-family: "titulos_grandes";
  font-size: 20px; }

#contacto .como_llegar iframe {
  width: 50vw;
  height: 40vh;
  border-radius: 10px; }

@media (max-width: 1430px) {
  /* … */ }

@media (max-width: 980px) {
  /* … */
  .header {
    display: none;
    justify-content: space-between; }
  .navbar {
    display: block;
    padding: 25px 0; }
  .navbar .navbar-brand {
    margin: 0 30px; }
  .header .navbar-brand {
    font-family: 'Lato', sans-serif; }
  .header img {
    width: 15vh;
    height: auto;
    margin: 0px 18px; }
  .header .navbar div div {
    align-items: center; }
  .header .navbar div div .columna_1 div ul li {
    height: 2vh;
    width: 100%;
    padding: 0;
    display: block; }
  .header .navbar div div .columna_2 {
    max-width: 60px; }
  .header .navbar div div div ul li a {
    width: 100%;
    padding: 0; }
  #index__main .div__h1 {
    max-width: 80vh;
    width: max-content;
    font-family: "titulos_grandes";
    font-size: 8vw;
    color: #2B2D42;
    margin: 20px;
    padding: 10px 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #index__main .div__p {
    font-size: 3vw;
    margin: 20px;
    color: #2B2D42;
    padding: 0 15px;
    width: max-content;
    max-width: 80vw;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #index__main .div {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    width: 100%; }
  #index__main .div__img {
    max-height: 100vh;
    height: 90vh;
    width: auto;
    object-fit: cover;
    object-position: 50% 15%;
    opacity: .45; }
  #index__main .div__h1 {
    max-width: 75vh;
    width: max-content;
    font-family: "titulos_grandes";
    font-size: 11vw;
    color: #2B2D42;
    margin: 20px;
    padding: 10px 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 47%;
    transform: translate(-50%, -50%); }
  #index__main .div__p {
    font-size: 5vw;
    margin: 20px;
    color: #2B2D42;
    padding: 0 15px;
    width: max-content;
    max-width: 80vw;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%); }
  #que_hacemos .titulo {
    margin: 20px; }
  #que_hacemos .section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "seccion__1_1" "seccion__1_2" "seccion__1_3" "seccion__2_1" "seccion__2_2" "seccion__2_3";
    align-items: start;
    justify-items: center;
    max-width: 100%;
    margin: auto;
    width: 100vw; }
  #que_hacemos section div {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
    align-items: center; }
  #que_hacemos .section__img {
    display: block;
    width: 75vw;
    height: auto;
    border-radius: 10px; }
  #que_hacemos .section .titulo_imagen {
    display: inline-block;
    font-family: "titulos_grandes";
    font-weight: 700;
    font-size: 30px;
    padding: 5px 0;
    width: 95%;
    text-align: center; }
  #que_hacemos .section p {
    width: 95%;
    text-align: center;
    font-size: 25px; }
  #quienes_somos .seccion_2 div div img {
    width: 50vw;
    max-width: 50vw; }
  #trabajos_realizados .div_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;
    justify-content: space-around; }
  #trabajos_realizados .div_1 div {
    margin: 0;
    padding: 10px 0x;
    height: fit-content; }
  #trabajos_realizados div img {
    display: block;
    width: 75vw;
    height: auto;
    border-radius: 15px; }
  #trabajos_realizados .div_1 p:not(.titulo_imagen) {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    width: 75vw;
    padding: 10px 0; }
  #trabajos_realizados div .titulo_imagen {
    font-family: "titulos_grandes";
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    display: inline-block;
    width: 75vw;
    height: auto; }
  /* CONTACTO */
  #contacto .section-1 {
    background-color: #2B2D42; }
  #contacto .section-1__form {
    width: 100vw;
    max-width: 100%;
    margin: 0; }
  #contacto .section-1 div {
    max-width: 100%;
    margin: 0;
    background-color: #22aaa1; }
  #contacto .como_llegar p {
    font-family: "titulos_grandes";
    font-size: 20px; }
  #contacto .como_llegar iframe {
    width: 50vw;
    height: 30vh;
    border-radius: 10px; }
  .footer {
    display: flex;
    max-width: 100vw;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between; }
  .footer .img-lg {
    display: none; }
  .footer .img-sm {
    display: block;
    height: 7vh;
    width: auto;
    margin: 5px 0; }
  .footer p {
    font-style: italic;
    margin: 0;
    font-size: 14px;
    margin: 3px 0; }
  .footer a {
    font-weight: 200;
    color: var(--color-tres);
    font-size: 16px;
    margin: 3px 0 5px 0; } }

@media (max-width: 500px) {
  .header .navbar-brand {
    display: none; }
  #index__main .div {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    width: 100vh; }
  #index__main .div__img {
    max-height: 100vh;
    height: 90vh;
    width: auto;
    object-fit: cover;
    object-position: 50% 15%;
    opacity: .45; }
  #index__main .div__h1 {
    max-width: 75vh;
    width: max-content;
    font-family: "titulos_grandes";
    font-size: 13vw;
    color: #2B2D42;
    margin: 20px;
    padding: 10px 40px;
    background-color: #FFFFFF;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%); }
  #index__main .div__p {
    font-size: 7vw;
    margin: 20px;
    color: #2B2D42;
    padding: 0 15px;
    width: max-content;
    max-width: 80vw;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }
  #contacto section {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
  #contacto .section_1__div1 {
    width: 90vw; }
  #contacto h1 {
    font-size: 30px;
    padding: 15px 0; }
  #contacto section form {
    max-width: 100vw; }
  #contacto section section {
    width: 100vw;
    max-width: 100vw; }
  #contacto section section div {
    width: 70vw; }
  #contacto section section div iframe {
    width: 70vw; }
  #contacto div {
    width: 65vw;
    margin: auto;
    max-width: 100vw; } }
