/* Formato Hoja Contacto */
#contacto {

    // div {
    //     display: block;
    //     margin: 20px;
    // }

    .section_1 {
        // background-color: $color-dos;
        max-width: 75vw;

        .section_1__div1 {
            // background-color: $color-cinco;

            .titulo_h1_pagina {
                // margin: 5rem 0 0 0;
                @extend %titulos-h1;
                // padding: 5rem 0 0 0;
                // text-align: center;
            }
        }

        .section_1__form {
            margin: 0;
            padding: 2rem 0 0 2rem;
            max-width: 100%;
            // background-color: $color-cuatro;

            div {
                max-width: 100%;
                // background-color: #22aaa1;

                div {
                    .form-label {
                        display: inline-block;
                        margin: 0px 20px;
                        font-weight: bold;
                        width: 60%;

                    }

                    .input-group-text,
                    .form-control {
                        font-weight: bold;
                        width: 60%;
                    }

                }
                .btn {
                    margin: 1rem 0 0 0;
                 }
            }
        }


    }

    .como_llegar {
        // margin: auto;
        justify-content: space-between;
        background-color: $color-uno;

        p {
            @extend %titulos-h1;
            font-size: 35px;
            padding: 2rem 0 0 2rem;
        }

        iframe {
            padding: 2rem 0 0 2rem;
            width: 45vw;
            height: 30rem;
            border-radius: 20px;

        }

    }
}