/* Formato Hoja Contacto */
#contacto {

    // div {
    //     display: block;
    //     margin: 20px;
    // }

    .section-1 {
        background-color: #2B2D42;

        .section-1__div1 {
            .titulo_h1_pagina {
                @extend %titulos-h1;
                // text-align: center;
            }
        }

        .section-1__form {
            max-width: 75%;
        }

        div {
            max-width: 50%;
            background-color: #22aaa1;

            div {
                label {
                    display: inline-block;
                    margin: 0px 20px;
                }
            }
        }
    }

    .como_llegar {
        margin: auto;
        justify-content: space-between;

        p {
            font-family: "titulos_grandes";
            font-size: 20px;
        }

        iframe {
            width: 50vw;
            height: 40vh;
            border-radius: 10px;

        }

    }
}