/* Formato al FOOTER */
.footer {
    display: flex;
    height: 13vh;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: space-around;

    .img-sm {
        display: none;
    }

    img {
        display: inline-block;
        width: 15vh;
        height: auto;
    }

    a {
        display: inline-block;
    }

    p {
        display: inline-block;
    }
}