@media (max-width: 1430px) {
    /* … */


}

@media (max-width: 992px) {
    /* … */

    .header {
        display: none;
        justify-content: space-between;
    }

    .navbar {
        display: block;
        padding: 25px 0;
    }

    .navbar .navbar-brand {
        margin: 0 30px;
    }

    .header .navbar-brand {
        font-family: 'Lato', sans-serif;
    }

    .header img {
        width: 15vh;
        height: auto;
        margin: 0px 18px;
    }

    .header .navbar div div {
        align-items: center;
    }

    .header .navbar div div .columna_1 div ul li {
        height: 2vh;
        width: 100%;
        padding: 0;
        display: block;
    }

    .header .navbar div div .columna_2 {
        max-width: 60px;
    }

    .header .navbar div div div ul li a {
        width: 100%;
        padding: 0;
    }

    #index__main .div__h1 {
        max-width: 80vh;
        width: max-content;
        font-family: "titulos_grandes";
        font-size: 8vw;
        color: #2B2D42;
        margin: 20px;
        padding: 10px 40px;
        background-color: #FFFFFF;
        border-radius: 15px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #index__main .div__p {
        font-size: 3vw;
        margin: 20px;
        color: #2B2D42;
        padding: 0 15px;
        width: max-content;
        max-width: 80vw;
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #index__main .div {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        width: 100%;

    }

    #index__main .div__img {
        max-height: 100vh;
        height: 90vh;
        width: auto;
        object-fit: cover;
        object-position: 50% 15%;
        opacity: .45;
    }

    #index__main .div__h1 {
        max-width: 75vh;
        width: max-content;
        font-family: "titulos_grandes";
        font-size: 11vw;
        color: #2B2D42;
        margin: 20px;
        padding: 10px 40px;
        background-color: #FFFFFF;
        border-radius: 15px;
        position: absolute;
        top: 20%;
        left: 47%;
        transform: translate(-50%, -50%);
    }


    #index__main .div__p {
        font-size: 5vw;
        margin: 20px;
        color: #2B2D42;
        padding: 0 15px;
        width: max-content;
        max-width: 80vw;
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%);
    }

    // QUÉ HACEMOS page
    #que_hacemos {
        .titulo {
            margin: 20px;
        }

        .section {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 1fr);
            grid-template-areas:
                "seccion__1_1"
                "seccion__1_2"
                "seccion__1_3"
                "seccion__2_1"
                "seccion__2_2"
                "seccion__2_3";
            align-items: start;
            justify-items: center;
            max-width: 100%;
            margin: auto;
            width: 100vw;

            div {
                display: flex;
                flex-direction: column;
                margin: 10px 10px;
                width: 100%;
                align-items: center;
                padding-top: 15px;

                .section__img {
                    display: block;
                    width: 70vw;
                    height: auto;
                    border-radius: 10px;
                }

                .titulo_imagen {
                    display: inline-block;
                    font-family: "titulos_grandes";
                    font-weight: 700;
                    font-size: 30px;
                    padding: 5px 0;
                    width: 95%;
                    text-align: center;
                }

                .imagen_descripcion {
                    // width: 95%;
                    width: 75vw;
                    text-align: center;
                    font-size: 25px;
                }
            }

        }

    }


    // QUIENES SOMOS
    #quienes_somos {
        .seccion_2 {
            div {

                .div__img {
                    img {
                        max-width: 50vw;
                        width: 50vw;

                    }

                }
            }
        }
    }


    #trabajos_realizados .div_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        position: relative;
        justify-content: space-around;
    }

    #trabajos_realizados .div_1 div {
        margin: 0;
        padding: 10px 0x;
        height: fit-content;
    }

    #trabajos_realizados div img {
        display: block;
        width: 75vw;
        height: auto;
        border-radius: 15px;
    }

    #trabajos_realizados .div_1 p:not(.titulo_imagen) {
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        width: 75vw;
        padding: 10px 0;
    }

    #trabajos_realizados div .titulo_imagen {
        font-family: "titulos_grandes";
        margin: 10px 0px 10px 0px;
        font-size: 25px;
        display: inline-block;
        width: 75vw;
        height: auto;
    }

    /* CONTACTO */

    #contacto .section-1 {
        background-color: #2B2D42;
    }

    #contacto .section-1__form {
        width: 100vw;
        max-width: 100%;
        margin: 0;
    }

    #contacto .section-1 div {
        max-width: 100%;
        margin: 0;
        background-color: #22aaa1;
    }

    #contacto .como_llegar p {
        font-family: "titulos_grandes";
        font-size: 20px;
    }

    #contacto .como_llegar iframe {
        width: 50vw;
        height: 30vh;
        border-radius: 10px;

    }

    .footer {
        display: flex;
        max-width: 100vw;
        width: 100vw;
        flex-direction: column;
        justify-content: space-between
    }

    .footer .img-lg {
        display: none;
    }

    .footer .img-sm {
        display: block;
        height: 7vh;
        width: auto;
        margin: 5px 0;
    }

    .footer p {
        font-style: italic;
        margin: 0;
        font-size: 14px;
        margin: 3px 0;
    }

    .footer a {
        font-weight: 200;
        color: var(--color-tres);
        font-size: 16px;
        margin: 3px 0 5px 0;
    }

}

@media only screen and (max-width: 500px) {
    .header .navbar-brand {
        display: none;
    }

    #index__main .div {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        width: 100vh;
    }

    #index__main .div__img {
        max-height: 100vh;
        height: 90vh;
        width: auto;
        object-fit: cover;
        object-position: 50% 15%;
        opacity: .45;
    }

    #index__main .div__h1 {
        max-width: 75vh;
        width: max-content;
        font-family: "titulos_grandes";
        font-size: 13vw;
        color: #2B2D42;
        margin: 20px;
        padding: 10px 40px;
        background-color: #FFFFFF;
        border-radius: 15px;
        position: absolute;
        top: 20%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    #index__main .div__p {
        font-size: 7vw;
        margin: 20px;
        color: #2B2D42;
        padding: 0 15px;
        width: max-content;
        max-width: 80vw;
        background-color: #ffffff;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }


    // QUÉ HACEMOS page

    #que_hacemos {

        .section {
            div {
                padding-top: 15px;


                .imagen_descripcion {
                    width: 85vw;
                    font-size: 20px;
                }

                .titulo_imagen {
                    display: inline-block;
                    font-family: "titulos_grandes";
                    font-weight: 700;
                    font-size: 25px;
                    padding: 5px 0;
                }
            }
        }
    }





    // CONTACTO page

    #contacto section {
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

    #contacto .section_1__div1 {
        width: 90vw;

    }

    #contacto h1 {
        font-size: 30px;
        padding: 15px 0;
    }

    #contacto section form {
        max-width: 100vw;
    }

    #contacto section section {
        width: 100vw;
        max-width: 100vw;
    }



    #contacto section section div {
        width: 70vw;
    }

    #contacto section section div iframe {
        width: 70vw;
    }

    #contacto div {
        width: 65vw;
        margin: auto;
        max-width: 100vw;
    }


}