/* Formato a página Qué hacemos */

#que_hacemos {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    align-items: center;

    .titulo {
        margin: 20px;
        display: flex;
        justify-content: center;

        .titulo_h1_pagina {
            @extend %titulos-h1;
        }
    }

    .section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px 20px;
        grid-template-areas:
            "seccion__1_1 seccion__1_2 seccion__1_3"
            "seccion__2_1 seccion__2_2 seccion__2_3";
        align-items: start;
        justify-items: center;
        max-width: 100%;
        margin: auto;

        .seccion__1_1 {
            grid-area: seccion__1_1;
        }

        .seccion__1_2 {
            grid-area: seccion__1_2;
        }

        .seccion__1_3 {
            grid-area: seccion__1_3;
        }

        .seccion__2_1 {
            grid-area: seccion__2_1;
        }

        .seccion__2_2 {
            grid-area: seccion__2_2;
        }

        .seccion__2_3 {
            grid-area: seccion__2_3;
        }

        div {
            display: flex;
            flex-direction: column;
            margin: 10px 10px;
            padding: 10px;
            border-radius: 10px;
            height: 100%;
            overflow: hidden;
            object-fit: cover;
            align-items: center;
            transition: background-color 0.15s;

            .contenedor_img {
                @extend %contenedor-img;

                .section__img {
                    background-size: cover;
                    /* Cubrir completamente el div padre */
                    background-position: center;
                    /* Centrar la imagen */
                    max-width: 400px;
                    width: 110%;
                    height: auto;
                    border-radius: 10px;

                }

                .section__img_xl {
                    @extend .section__img;
                    width: 130%;
                    height: auto;
                }
            }

            .titulo_imagen {
                display: inline-block;
                font-family: "titulos_grandes";
                font-weight: 700;
                font-size: 22px;
                padding: 5px 0;
                text-align: center;
            }

            .imagen_descripcion {
                width: 20vw;
                
            }

            &:hover {
                background-color: $color-dos;
                .titulo_imagen {
                    color: $color-tres;
                }

                .imagen_descripcion {
                    color: $color-uno;
                }
            }
        }

    }
}