/* Formato a página Quiénes Somos */

#quienes_somos {
    margin: auto;

    .seccion_1 {
        display: block;
        text-align: center;

        // h1 {
        //     font-family: "titulos_grandes";
        // }
        .titulo_h1_imagen {
            @extend %titulos-h1;

        }
    }


    .seccion_2 {

        div {

            .div__img {


                margin: 0 0 2rem 0;
                padding: 1rem 0 0 0;
                border-radius: 15px;

                // &:hover {
                //     background-color: $color-dos;
                //     .titulo_imagen {
                //         color: $color-tres;
                //     }
                //     .div__texto {
                //         color: $color-uno;
                //     }
                // }

                img {
                    /* display: inline-block; */
                    max-width: 25vw;
                    width: 25vw;
                    border-radius: 15px;

                }
            }

            .div__titulo_imagen {

                .titulo_imagen {
                    font-family: "titulos_grandes";
                    font-size: 30px;
                    text-align: center;
                }
            }

            .div__texto {

                p {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }





    }
}