/* Formato a página Quiénes Somos */

#quienes_somos {
    margin: auto;

    .seccion_1 {
        display: block;
        text-align: center;
        height: auto;


        .titulo_h1_pagina {
            @extend %titulos-h1;
            padding: 3rem 0 4rem 0;

        }

        p {
            font-size: 2rem;
        }
    }


    .seccion_2 {

        div {
            transition: transform 0.5s;

            .div__img {
                &:hover {
                    @include scale_custom(1.05);
                }

                margin: 0 0 2rem 0;
                padding: 1rem 0 0 0;
                border-radius: 15px;

                img {
                    max-width: 25vw;
                    width: 25vw;
                    border-radius: 75px;
                }

            }

            .div__titulo_imagen {

                .titulo_imagen {
                    font-family: "titulos_grandes";
                    padding: 1rem 0 0 0;
                    font-size: 30px;
                    text-align: center;
                }
            }

            .div__texto {

                p {
                    text-align: center;
                    font-size: 20px;
                }
            }
        }





    }
}