%titulos-h1 {
    font-family: "titulos_grandes", sans-serif;
    font-size: 3rem;
}

%contenedor-img {
    /* Ancho del div padre */
    width: 24vw;
    /* Alto del div padre */
    height: 12.5rem;
    /* Ocultar partes de la imagen que se desborden */
    overflow: hidden;
    /* Para posicionar la imagen de fondo */
    position: relative;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

@media (max-width: 992px) {
    %titulos-h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 576px) {
    %titulos-h1 {
        font-size: 2rem;
    }
}
