/* Fuente local */
@font-face {
    font-family: "titulos_grandes";
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}


/* Fuente Web */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
